<!DOCTYPE html>
<html class="no-js" lang="en">


<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>re# | Interactive Production and Product Development</title>
    <link rel="canonical" href="http://www.rehashstudio.com">

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="re# is an independent interactive production company based in New York City. We create, produce and develop interactive solutions that ignite the imaginations of our partners and ourselves.">
    <!-- TEST -->

    <!-- FACEBOOK OPEN GRAPH -->
    <meta property="og:title" content="re# |Interactive production and product development" />
    <meta property="og:description" content="re# is an independently-owned interactive production company based in New York City. We create, produce and develop interactive solutions to empower the imagination of our partners and ourselves." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.rehashstudio.com" />
    <meta property="og:image" content="http://www.rehashstudio.com/assets/img/previews/preview-home-01.jpg" />
    <meta property="og:image" content="http://www.rehashstudio.com/assets/img/previews/preview-home-02.jpg" />
    <meta property="og:image" content="http://www.rehashstudio.com/assets/img/previews/preview-home-03.jpg" />

    <!-- CSS -->
<!--     <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-responsive.min.css"> -->
    <!-- <link rel="stylesheet" href="assets/parallax-slider/css/parallax-slider.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="assets/bxslider/jquery.bxslider.css" />         -->
    <!-- <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/menu/style-menu.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/style_responsive.css"> -->
    <!-- <link rel="stylesheet" href="assets/css/video-default.css"> -->
<!--     <link rel="stylesheet" href="assets/elastislide/css/elastislide.css" type="text/css" />
    <link rel="stylesheet" href="assets/elastislide/css/custom.css" type="text/css" />   -->
</head> 

<body>

    <% if admin_signed_in? %>
     <%= button_to "Sign Out", destroy_admin_session_path, method: :delete %>
    <% end %>

<!--=== Slider ===-->
<div class="slider-inner">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2> <a href="happsee/"><i>RE:DISCOVERING</i><br /><i>HAPPINESS</i></a></h2>
            <div class="da-slider-more"><a class="btn-more hover-effect" href="happsee/">view +</a></div>
        </div>
        <div class="da-slide">
            <h2> <a href="nike-skate-every-damn-day/"><i>#SKATEEVERYDAMNDAY</i><br /><i>ON THE BIG SCREEN</i> <br /> <i>FOR NIKE SB</i></a></h2>
            <div class="da-slider-more"><a class="btn-more hover-effect" href="nike-skate-every-damn-day/">view +</a></div>
        </div>
        <div class="da-slide">
            <h2><a class="btn-more hover-effect" href="../grandlarge/"><i>GRANDLARGE.TV</i> <br /> <i>RE:INVENTED</i></a></h2>
            <div class="da-slider-more"><a class="btn-more hover-effect" href="../grandlarge/">view +</a></div>
            <div class="da-img">
            </div> 
        </div>
        <div class="da-slide">
            <h2><a class="btn-more hover-effect" href="gralbum-collective/"><i>IMAGINE YOU CAN</i> <br /> <i>TOUCH MUSIC</i></a></h2>
            <div class="da-slider-more"><a class="btn-more hover-effect" href="gralbum-collective/">view +</a></div>
        </div>
        <div class="da-slide">
            <h2><a href="nike-runfree/"><i>#RUNFREE</i> <br /> <i>IN NEW YORK CITY</i> <br /> <i>FOR NIKE RUNNING</i></a></h2>
            <div class="da-slider-more"><a class="btn-more hover-effect" href="nike-runfree/">view +</a></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev pauseMedia" href="#relatedCarouselTablet" ></span>
            <span class="da-arrows-next pauseMedia" href="#relatedCarouselTablet"></span>   
        </nav>
    </div><!--/da-slider-->
</div><!--/slider-->

<!--=== Content part ===-->
<div id="body">

    <!-- Purchase Block -->
    <div class="row-fluid purchase margin-bottom-30">
        <div class="container">
      <div class="span9">
                <span>We make revelatory work</span>
                <p>Technology - The evolution has begun, and it's not slowing down. New devices, platforms and trends emerge every day, and we could not be more excited. We embrace these tools to make imagination reality.</p>
            </div>
            <a href="mailto:james@rehashstudio.com" class="btn-buy hover-effect">CONTACT US</a>
        </div>
    </div><!--/row-fluid-->
    <!--//End Purchase Block -->

  <div class="container"> 

        <!-- Recent Works --><br />
        <div class="headline"><h3>Recent Work</h3></div>
        <ul class="thumbnails">
            <% @projects.get_ordered_list.each do |project| %>
             <%if project.flag != true %>
                <li class="span3">
                    <div class="thumbnail-style thumbnail-kenburn">
                        <div class="thumbnail-img">
                            <div class="overflow-hidden">
                                <%= image_tag project.thumbnail_lrg %>
                            </div>
                              <%= link_to "more", project, {:class => "btn-more hover-effect"} %>
                        </div>
                        <h3><%= link_to project.title, project, { :class=>"hover-effect" } %></h3>
                    </div>
                </li>
            
           <% end %>

        <% end %>
            </ul><!--/thumbnails-->
             
  

        <!-- //End Recent Works -->

            
  </div><!--/container--> 
  
</div><!--/body-->


</body>
</html> 